body {
    font-family: Arial, sans-serif;
    background-color: blue;
}

nav {
    background-color: orange !important;
    padding: 1rem;
}

nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: #007bff;
}

nav a:hover {
    text-decoration: underline;
}

#content {
    
}

img {

    width: 100%;


}